@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

.App {
  text-align: center;
}

a{
  font-family: 'Ibarra Real Nova', serif;
  color: black;
  text-decoration: none;
  transition: 0.5s;
}

a:hover{
  color: blue;
}

#container{
  width: 50%;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 auto;
  background-color: lightgrey;
  opacity: 0.9;
}

#loading-container{
  font-size: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  border: 1px solid black;
  border-radius: 25px;
  margin: 0 auto;
  background-color: lightgrey;
  font-family: 'Ibarra Real Nova', serif;
}

body {
	background: conic-gradient(
		from 45deg,
		#020681 0,
		#020681 90deg,
		#000337 90deg,
		#000337 180deg,
		#0818ff 180deg,
		#0818ff 270deg,
		#0f9bfe 270deg,
		#0f9bfe 360deg
	);
	background-size: 1em 1em;
	height: 100vh;
}